<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olympics 2024</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>

<body>
	<!-- TODO: na inloggen navbar aanpassen -->
  <header class="navbar">
		<h1 class="titel">Paris 2024</h1>
		<div class="user-info">
			<span>Admin</span>
			<span>iets@iets.com</span>
			<button class="btn-header">Log out</button>
		</div>
	</header>

  <div class="tab">
    <h2>Add a competition</h2>
    <form method="post">
        <label for="date">Date:</label>
        <input type="date" id="datepicker"><br><br>

        <label for="hour">Time:</label>
        <input type="time" id="time"><br><br>

        <label for="stadium">Stadium:</label>
        <input type="text" id="stadium"><br><br>

        <label for="discipline">Discipline #1:</label>
        <input type="text" id="discipline1"><br><br>
        
        <label for="discipline">Discipline #2:</label>
        <input type="text" id="discipline2"><br><br>

        <label for="olympic1">Olympic #1:</label>
        <input type="text" id="olympic1"><br><br>

        <label for="olympic2">Olympic #2:</label>
        <input type="text" id="olympic2"><br><br>

        <label for="price">Price per Ticket:</label>
        <input type="number" id="price"><br><br>

        <label for="amount">Amount of Tickets:</label>
        <input type="number" id="amount"><br><br>

        <button class="btn" type="submit">Add competition</button>
    </form>
  </div>
</body>