<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olympics 2024</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>

<body>
    <div th:include="navbar :: copy"></div>

    <div class="tab">
        <h2>Add a competition</h2>
        <form method="post" class="page" th:action="|/sports/${sport.id}/addCompetition|" th:object="${competition}">
            <input type="hidden" name="id" th:value="${sport.id}" />
            
            <label for="date">Date:</label>
            <input type="date" id="date" class="fields" th:field="*{date}" name="date" required> <br>
            <span th:if="${#fields.hasErrors('date')}" th:errorclass="error" th:errors="*{date}"></span><br>
            
            <label for="time">Time:</label>
            <input type="time" id="time" class="fields" th:field="*{time}" required> <br>
            <span th:if="${#fields.hasErrors('time')}" th:errorclass="error" th:errors="*{time}"></span><br>
            
            <label for="stadium">Stadium:</label>
            <select id="stadium" class="fields" th:field="*{stadium}" required>
                <option th:each="stadium : ${stadiums}" th:value="${stadium.id}" th:text="${stadium.name}"></option>
            </select>  <br>
            <span th:if="${#fields.hasErrors('stadium')}" th:errorclass="error" th:errors="*{stadium}"></span><br>

            <label>Discipline(s) (max. 2):</label>
            <div class="check" th:each="d: ${disciplines}">
                 <input type="checkbox"  th:value="${d.id}" th:field="*{disciplines}">
                 <label th:text="${d.name}"></label>
         	</div>
            <span th:if="${#fields.hasErrors('disciplines')}" th:errorclass="error" th:errors="*{disciplines}">
            </span> <br>
            
            <label for="olympic1">Olympic #1:</label>
            <input type="text" id="olympic1" class="fields" th:field="*{olympicNumber1}" required> <br>
            <span th:if="${#fields.hasErrors('olympicNumber1')}" th:errorclass="error" th:errors="*{olympicNumber1}"></span><br>
            
            <label for="olympic2">Olympic #2:</label>
            <input type="text" id="olympic2" class="fields" th:field="*{olympicNumber2}" required> <br>
            <span th:if="${#fields.hasErrors('olympicNumber2')}" th:errorclass="error" th:errors="*{olympicNumber2}"></span><br>
            
            <label for="price">Price per Ticket:</label>
            <input type="number" step="0.01" id="price" class="fields" th:field="*{price}" required> <br>
            <span th:if="${#fields.hasErrors('price')}" th:errorclass="error" th:errors="*{price}"></span><br>
            
            <label for="amount">Amount of Tickets:</label>
            <input type="number" id="amount" class="fields" th:field="*{totalTickets}" required> <br>
            <span th:if="${#fields.hasErrors('totalTickets')}" th:errorclass="error" th:errors="*{totalTickets}"></span><br>
            
            <button class="btn" type="submit">Add competition</button>
        </form>
    </div>
</body>
</html>
