<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olympics 2024</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>

<body>
	<div th:include="navbar :: copy"></div>

  <div class="tab">
    <h2>Buy Tickets</h2>
    <form action="buy_tickets.php" method="post"  class="page">
        <label for="amount">Amount of Tickets:</label>
        <input type="number" id="amount" class="fields" required><br><br>

        <label for="amount">Total:</label>
        <input type="number" id="total" class="fields"><br><br>
       
       	<button class="btn" type="submit">Buy tickets</button>
    </form>
  </div>
</body>