<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olympics 2024</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>

<body>
  <header class="navbar">
		<h1 class="titel">Paris 2024</h1>
		<div class="user-info">
			<span>Admin</span>
			<span>iets@iets.com</span>
			<button class="btn-header">Log out</button>
		</div>
	</header>

  <div class="tab">
    <h2>Buy Tickets</h2>
    <form action="buy_tickets.php" method="post">
        <label for="amount">Amount of Tickets:</label>
        <input type="number" id="amount" name="amount" required><br><br>

        <label for="amount">Total:</label>
        <input type="number" id="total" name="total"><br><br>
       

        <input class="btn" type="submit" value="Buy tickets">
    </form>
  </div>
</body>