<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Olympics 2024</title>
<link rel="stylesheet" th:href="@{/css/form.css}">
</head>

<body>
	<div th:include="navbar :: copy"></div>

	<div class="tab">
		<div class="header-and-tickets">
            <h2>Buy Tickets</h2>
            <a th:if="${ticketsBought > 0}" th:text="|You already bought ${ticketsBought} ticket(s)!|"></a>
        </div>
		
		<p th:if="${message}" th:class="${message.type}" th:text="${message.message}"></p>
		
		<form method="post" class="page" th:action="|/sports/${sport.id}/buyTickets/${competition.id}|" th:object="${ticket}">
			<input type="hidden" name="id" th:value="${sport.id}" />
			<input type="hidden" name="compId" th:value="${competition.id}" />
			
			<label for="amount">Amount of Tickets:</label>
			<input type="number" id="amount" class="fields" th:field="*{amount}" required><br>
			<span th:if="${#fields.hasErrors('amount')}" th:errorclass="error" th:errors="*{amount}"></span><br>
             

			<button class="btn" type="submit">Buy tickets</button>
			<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
		</form>
	</div>
</body>