<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Olympics 2024</title>
	<link rel="stylesheet" th:href="@{/css/overview.css}">
</head>

<body>
	<!-- TODO: na inloggen navbar aanpassen -->
	<header class="navbar">
		<h1 class="titel">Paris 2024</h1>
			<div class="user-info">
				<span>Admin</span>
				<span>iets@iets.com</span>
				<button class="btn-header">Log out</button>
			</div>
	</header>

	<div class="tab">
		<button class="btn">Add competition</button>
		<h2 th:text="${sport.name}"></h2>
		<table>
			<thead>
				<th>Date</th>
				<th>Time</th>
				<th>Stadium</th>
				<th>Discipline</th>
				<th>Discipline</th>
				<th>Tickets left</th>
				<th>Price</th>
				<th>Amount of tickets</th>
				<th></th>
			</thead>

			<th:block th:each="c: ${competitions}">
				<tr>
					<td th:text="${c.date}"></td>
					<td th:text="${c.time}"></td>
					<td th:text="${c.stadium}"></td>
					<td th:text="${c.discipline1}"></td>
					<td th:text="${c.discipline2}"></td>
					<td th:text="${c.ticketLeft}"></td>
					<td th:text="${c.pricePerTicket}"></td>
					<td th:text=${c.totalTickets}></td>
					<td>BUY</td>

					<!-- oplossing zonder DateFormatter -->
					<!-- <td th:with="df=#{date.format.pattern}" th:text="${#temporals.format(contact.birthDate, df)}"></td>  -->

				</tr>
			</th:block>

		</table>
	</div>
</body>

</html>