<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Olympics 2024</title>
<link rel="stylesheet" th:href="@{/css/overview.css}">
</head>

<body>
	<div th:include="navbar :: copy"></div>

	<div class="tab">
		<h2 th:text="${sport.name}"></h2>
		<table>
			<thead>
				<th>Date</th>
				<th>Time</th>
				<th>Stadium</th>
				<th>Discipline(s)</th>
				<th>Tickets left</th>
				<th>Price</th>
				<th th:if="${role == 'USER'}">No. of tickets bought</th>
				<th th:if="${role == 'USER'}"></th>
			</thead>

			<th:block th:each="c: ${competitions}">
				<tr class="row">
					<td th:text="${{c.date}}"></td>
					<td th:text="${c.time}"></td>
					<td th:text="${c.stadium.name}"></td>
					<td th:text="${#strings.listJoin(c.disciplines.![name], ', ')}"></td>
					<td th:text="${c.ticketLeft}"></td>
					<td>
						<span th:if="${role == 'USER' && c.ticketLeft > 0}" th:text="|€ ${#numbers.formatDecimal(c.price, 0, 2)}|"></span>
						<span th:if="${role == 'ADMIN'}" th:text="|€ ${#numbers.formatDecimal(c.price, 0, 2)}|"></span>
					</td>
					<!-- TODO: aanpassen naar tickets bought voor een user -->
					<td th:if="${role == 'USER'}">5</td>
					<td th:if="${role == 'USER'}">
						<a th:if="${c.ticketLeft > 0}" class="btn" th:href="|/sports/${sport.id}/buyTickets/${c.id}|">BUY</a>
					</td>
				</tr>
			</th:block>

		</table>
		<a th:if="${role == 'ADMIN'}"
			th:href="|/sports/${sport.id}/addCompetition|" class="btn">Add
			competition</a>
	</div>
</body>

</html>