<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Olympics 2024</title>
	<link rel="stylesheet" th:href="@{/css/overview.css}">
</head>

<body>
	<!-- TODO: na inloggen navbar aanpassen -->
	<header class="navbar">
		<h1 class="titel">Paris 2024</h1>
			<div class="user-info">
				<span>Admin</span>
				<span>iets@iets.com</span>
				<button class="btn-header">Log out</button>
			</div>
	</header>

	<div class="tab">
		<h2 th:text="${sport.name}"></h2>
		<table>
			<thead>
				<th>Date</th>
				<th>Time</th>
				<th>Stadium</th>
				<th>Discipline #1</th>
				<th>Discipline #2</th>
				<th>Tickets left</th>
				<th>Price</th>
				<th># Tickets</th>
				<th></th>
			</thead>

			<th:block th:each="c: ${competitions}">
				<tr class="row">
					<td th:text="${c.date}"></td>
					<td th:text="${c.time}"></td>
					<td th:text="${c.stadium.name}"></td>
					<td th:text="${c.discipline1}"></td>
					<td th:text="${c.discipline2}"></td>
					<td th:text="${c.ticketLeft}"></td>
					<td th:text="${c.price}"></td>
					<td th:text=${c.totalTickets}></td>
					 <!--TODO: href tickets  -->
					<td><a class="btn" th:href="|/sports/${sport.id}/buyTickets/${c.id}|">BUY</a></td>

					<!-- oplossing zonder DateFormatter -->
					<!-- <td th:with="df=#{date.format.pattern}" th:text="${#temporals.format(contact.birthDate, df)}"></td>  -->

				</tr>
			</th:block>

		</table>
		 <!--TODO: href competition  -->
		<a th:href="|/sports/addCompetition/${sport.id}|"class="btn">Add competition</a>
	</div>
</body>

</html>