<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sports</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<h2>Sports</h2>
	<table>
		<tr>
			<th>Sport</th>
			<th>Plek</th>
			<th>Discipline</th>
			<th>Competition</th>
		</tr>

        <th:block th:each="sport: ${sportList}">
			<tr>

                <!-- TODO -->
				<td><a th:href="|/sports/${sport.id}|" th:text="${sport.name}"></a>
				</td>

				<td th:text="${sport.disciplines}"></td>
				<td th:text="${sport.competitions}"></td>	
                
				
				<!-- oplossing zonder DateFormatter -->
                <!-- <td th:with="df=#{date.format.pattern}" th:text="${#temporals.format(contact.birthDate, df)}"></td>  -->
                
			</tr>
		</th:block>

	</table>
</body>
</html>