<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olympics 2024</title>
    <link rel="stylesheet" th:href="@{/css/logIn.css}">
</head>

<body>
  <div class="container">
    <div class="left-side">
      <img src="../static/images/parijs.jpg" alt="paris_2024">
    </div>
    <div class="right-side">
        <h2>Log in</h2>
        <form action="login.php" method="post"> <!-- Verander 'login.php' naar de URL van je inlogscript -->
          <input type="text" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Password" required>
          <button type="submit" class="login-btn">Log in</button>
        </form>
    </div>
</div>
</body>