<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olympics 2024</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>

<body>
	<div th:fragment="copy">
		<!-- TODO: na inloggen navbar aanpassen -->
		<header class="navbar" >
        	<h1 class="titel">Paris 2024</h1>
        	<div class="user-info">
            	<span>Admin</span>
            	<span>iets@iets.com</span>
            	<button class="btn-header">Log out</button>
        	</div>
    	</header>
	</div>
</body>