<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olympics 2024</title>
	<link rel="stylesheet" th:href="@{/css/overview.css}" />
</head>

<body>

    <header class="navbar">
        <h1 class="titel">Paris 2024</h1>
        <div class="user-info">
            <span>Admin</span>
            <span>iets@iets.com</span>
            <button class="btn-header">Log out</button>
        </div>
    </header>

    <div class="tab">
        <table>
            <h2>Olympic Sports</h2>            
            <th:block th:each="sport: ${sportList}">
                <tr>
                    <td th:text="${sport.name}"></td>
                    <td><button class="btn" href="">Details</button></td>
                    <td><button class="btn">Tickets</button></td>
                </tr>
            </th:block>
        </table>
    </div>
    

</body>

</html>