<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Olympics 2024</title>
<link rel="stylesheet" th:href="@{/css/overview.css}" />
</head>

<body>
	<div th:include="navbar :: copy"></div>

	<div class="tab">
	<h2>My tickets</h2>
		<table>
			<thead>
				<tr>
					<th>Sport</th>
					<th>Date</th>
					<th>Time</th>
					<th>Stadium</th>
					<th>Price</th>
					<th>No. of tickets bought</th>
				</tr>
			</thead>
			<th:block th:each="ticket: ${tickets}">
				<tr class="row">
					<td th:text="${ticket[0].name}"></td>
					<td th:text="${ticket[1]}"></td>
					<td th:text="${ticket[2]}"></td>
					<td th:text="${ticket[3].name}"></td>
					<td th:text="|€ ${#numbers.formatDecimal(ticket[4], 0, 2)}|"></td>
					<td th:text="${ticket[5]}"></td>
			</th:block>
		</table>
	</div>

</body>

</html>