<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="#{titel}"></title>
<link rel="stylesheet" th:href="@{/css/overview.css}" />
</head>

<body>
    <div th:include="navbar :: copy"></div>

    <div class="tab">
        <div class="header-and-tickets">
            <h2 th:text="#{header}"></h2>
            <a th:if="${role == 'USER' && user.tickets.size > 0}" class="btn tickets-btn" th:href="@{/sports/tickets}" th:text="#{tickets}"></a>
        </div>
        <table>
            <th:block th:each="sport: ${sportList}">
                <tr>
                    <td th:text="${sport.name}"></td>
                    <td><a class="btn" th:href="|/sports/${sport.id}|" th:text="#{details}"></a></td>
                </tr>
            </th:block>
        </table>
    </div>
</body>


</html>